#rankingSection {
    background-color: azure;
}

#rankingSection>Details:nth-child(odd) {
    background-color: antiquewhite;
}

#rankingSection>Details>summary {
    display:grid;
    grid-template-columns: 2rem 30rem 30rem;
    grid-template-rows: 1rem;
}
#rankingSection > details>div {
    display:grid;
    grid-template-columns: 4rem 8rem 30rem;
}


#rankingSection > details > div > span:nth-child(1) {
    grid-column: 2;
}

#rankingSection > details > div > span:nth-child(2) {
    grid-column: 3;
}
